public/map-data/gtd_events.json filter=lfs diff=lfs merge=lfs -text
public/map-data/gva_events.json filter=lfs diff=lfs merge=lfs -text
public/map-data/ucdp_events_full.json filter=lfs diff=lfs merge=lfs -text
public/map-data/ucdp_events.json filter=lfs diff=lfs merge=lfs -text
public/map-data/acled_events.json filter=lfs diff=lfs merge=lfs -text
